.caixa_cadastro{
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.input-padrao{
    width: 40%;
    display: inline-block;
    }

.img_cadastro{
    float: right;
    margin-top: 0;
    height:500px;
}
.rodape_cad {
    background: rgb(221, 88, 0);
    color: white;
    width: 100%;
    height: 80px;
    margin: 0;
    border: 0;
    margin-top:280px;
    text-align: center;}