.caixa_cadastro{
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

}
.input-padrao{
    width: 40%;
    display: inline-block;
    }

.img_cadastro{
    float: right;
    margin-top: 0;
}