body {
  margin: 0;
  padding: 0;
  border: 0;
}

.cabecalho {
  padding-top: 20px;
  background: #161b22;
  width: 100%;
  height: 80px;}

.nome {
  width: 280px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
   margin-left: 100px;
   font-size: 22px;}

.cabecalho nav {
  float: right;
  margin-right: 100px;}

ul {
  list-style: none;
}

ul li {
  color: white;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-top: 100px;
  font-size: 15px;
}
