body {
  margin: 0;
  padding: 0;
  border: 0;
}

.cabecalho {
  padding-top: 20px;
  background: #161b22;
  width: 100%;
  height: 80px;
  border-bottom: 5px solid orangered;
  }

.nome {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
   margin-left: 100px;
   font-size: 22px;}

.cabecalho nav {
  float: right;
  margin-right: 100px;
padding-top: 4px;}
  

ul {
  list-style: none;
}

ul li {
  color: white;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-top: 100px;
  font-size: 15px;
}

.apresentacao {
  text-align: center;
  background-size: cover;
  background-image: url("./team.png");
  background-repeat: no-repeat;
  min-height: 400px;
  color: white;
}

.apresentacao p {
  padding-top: 40px;
  font-size: 20px;
}

.caixa1 .titulo__apresentacao {
  padding-top: 50px;
  font-size: 50px;
  margin: 0;}

.meio {
background: #161b22;
color: white;
width: 100%;
height: 80px;
margin: 0;
border: 0;

}

.meio h1{
  color: white;
  float: left;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 300px;
  }

.email {
  float: right;
  margin-right:300px;
  padding-top: 30px;
}

.imgmissao{
  position:relative;
  margin-left: 60px;
}

.missao {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 200px;
  font-size: 15px;
  }

  .missao1 {
    margin-left: 60px;
    font-size: 19px;
  }

  .imgvalores{
    position:relative;
    margin-left: 50px;
  }
  
  .valores {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 220px;
    font-size: 15px;
    }
  
    .valores1 {
      margin-left: 60px;
      font-size: 19px;
    }

    .imgvisao{
      position:relative;
      margin-left: 35px;
    }
    
    .visao {
      float: left;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 240px;
      font-size: 15px;
      }
    
      .visao1 {
        margin-left: 60px;
        font-size: 19px;
      }

.rodape {
  background: rgb(221, 88, 0);
  color: white;
  width: 100%;
  height: 80px;
  margin: 0;
  border: 0;
  margin-top: 200px;
  text-align: center;}
